@page
@model IndexModel
@{
    ViewData["Title"] = "Clue Helper";

    <div class="continer-fluid">
        <div class="w-100 bg-secondary-subtle border-secondary-subtle border border-top-0 rounded-bottom-4 d-flex mb-3" id="Navigation">
            <input class="navRadio" type="radio" id="rPuzzle" name="radios" value="Puzzle">
            <label class="navRadio prevent-select" for="rPuzzle">Puzzle Boxes</label><br />
            <input class="navRadio" type="radio" id="rLight" name="radios" value="Light">
            <label class="navRadio prevent-select" for="rLight">Light Boxes</label><br />
            <input class="navRadio" type="radio" id="rAnagram" name="radios" value="Anagram">
            <label class="navRadio prevent-select" for="rAnagram">Anagrams</label><br />
            <input class="navRadio" type="radio" id="rCypher" name="radios" value="Cypher">
            <label class="navRadio prevent-select" for="rCypher">Cyphers</label><br />
            <input class="navRadio" type="radio" id="rBeacon" name="radios" value="Beacon">
            <label class="navRadio prevent-select" for="rBeacon">Beacons</label><br />
            <input class="navRadio" type="radio" id="rChest" name="radios" value="Chest">
            <label class="navRadio prevent-select" for="rChest">Chests</label><br />
            <input class="navRadio" type="radio" id="rHotCold" name="radios" value="HotCold">
            <label class="navRadio prevent-select" for="rHotCold">Hot and Cold</label><br />
            <input class="navRadio" type="radio" id="rMap" name="radios" value="Map">
            <label class="navRadio prevent-select" for="rMap">Maps</label><br />
            <input class="navRadio" type="radio" id="rGE" name="radios" value="GE">
            <label class="navRadio prevent-select" for="rGE">Grand Exchange</label><br />
        </div>
    </div>

    <div class="main" id="Puzzle">
        <div class="dropzone-wrapper" id="PuzzleInputZone">
            <div class="dropzone-desc">
                <p id="PuzzleInputDescription">Choose a Puzzle image file or drag it here.</p>
            </div>
            <canvas id="PuzzleCanvas" height="200"></canvas>
            <input type="file" name="img_logo" class="dropzone" id="PuzzleInput">
        </div>

        <p id="solution"></p>

        <div id="PuzzleCanvas" style="display: none;">
            <canvas id="canvas"></canvas>

            <canvas id="canvas0-0"></canvas>
            <canvas id="canvas0-1"></canvas>
            <canvas id="canvas0-2"></canvas>
            <canvas id="canvas0-3"></canvas>
            <canvas id="canvas1-0"></canvas>
            <canvas id="canvas1-1"></canvas>
            <canvas id="canvas1-2"></canvas>
            <canvas id="canvas1-3"></canvas>
            <canvas id="canvas2-0"></canvas>
            <canvas id="canvas2-1"></canvas>
            <canvas id="canvas2-2"></canvas>
            <canvas id="canvas2-3"></canvas>
            <canvas id="canvas3-0"></canvas>
            <canvas id="canvas3-1"></canvas>
            <canvas id="canvas3-2"></canvas>
            <canvas id="canvas3-3"></canvas>

            <canvas id="scanvas0-0"></canvas>
            <canvas id="scanvas0-1"></canvas>
            <canvas id="scanvas0-2"></canvas>
            <canvas id="scanvas0-3"></canvas>
            <canvas id="scanvas1-0"></canvas>
            <canvas id="scanvas1-1"></canvas>
            <canvas id="scanvas1-2"></canvas>
            <canvas id="scanvas1-3"></canvas>
            <canvas id="scanvas2-0"></canvas>
            <canvas id="scanvas2-1"></canvas>
            <canvas id="scanvas2-2"></canvas>
            <canvas id="scanvas2-3"></canvas>
            <canvas id="scanvas3-0"></canvas>
            <canvas id="scanvas3-1"></canvas>
            <canvas id="scanvas3-2"></canvas>
            <canvas id="scanvas3-3"></canvas>
        </div>

        <div class="Tips">
            <a href="https://discord.com/channels/107916528011210752/1261723456790200472/1261723756712169522" target="_blank">Click Here for Sample screenshot (Discord)</a><br />
            <span><b>Tip #1: </b></span><span>On Windows use WIN+SHIFT+S to screenshot into clipboard</span><br />
            <span><b>Tip #2: </b></span><span>Use CTRL+V to upload image from clipboard</span>
        </div>
        <input type="checkbox" id="PuzzleDebug" style="display: none;"/><br />
    </div>

    <div class="main" id="Light" style="display: none;">
        <div class="dropzone-wrapper" id="LightInputZone">
            <canvas id="PuzzleCanvas" height="200"></canvas>

            <span class="dropzone-desc" id="LightDescription0">Step 1: Upload an inital view of the Light Puzzle</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip0">Initial View</span>
            <input class="dropzone lights-input" type="file" accept="image/*" id="LightInput0">

            <span class="dropzone-desc" style="display:none;" id="LightDescription1">Step 2: Click A and Upload a new screenshot</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip1">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput1">

            <span class="dropzone-desc" style="display:none;" id="LightDescription2">Step 3: Click B and Upload a new screenshot</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip2">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput2">

            <span class="dropzone-desc" style="display:none;" id="LightDescription3">Step 4/9: Click C and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip3">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput3">

            <span class="dropzone-desc" style="display:none;" id="LightDescription4">Step 5/9: Click D and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip4">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput4">

            <span class="dropzone-desc" style="display:none;" id="LightDescription5">Step 6/9: Click E and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip5">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput5">

            <span class="dropzone-desc" style="display:none;" id="LightDescription6">Step 7/9: Click F and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip6">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput6">

            <span class="dropzone-desc" style="display:none;" id="LightDescription7">Step 8/9: Click G and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip7">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput7">

            <span class="dropzone-desc" style="display:none;" id="LightDescription8">Last Step: Click H and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip8">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput8">

            <span class="dropzone-desc" style="display:none;" id="LightSolution">Last Step: Click H and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip">Initial View</span>
        </div>

        <div id="LightPreview">
            <canvas class="light-preview" id="canvas-preview-0" style="display:none;"></canvas>
            <label class="previewLabel" for="canvas-preview-0" style="display:none;">Initial</label>
            <canvas class="light-preview" id="canvas-preview-1" style="display:none;"></canvas>
            <label class="previewLabel" for="canvas-preview-1" style="display:none;">A</label>
            <canvas class="light-preview" id="canvas-preview-2" style="display:none;"></canvas>
            <label class="previewLabel" for="canvas-preview-2" style="display:none;">B</label>
            <canvas class="light-preview" id="canvas-preview-3" style="display:none;"></canvas>
            <label class="previewLabel" for="canvas-preview-3" style="display:none;">C</label>
            <canvas class="light-preview" id="canvas-preview-4" style="display:none;"></canvas>
            <label class="previewLabel" for="canvas-preview-4" style="display:none;">D</label>
            <canvas class="light-preview" id="canvas-preview-5" style="display:none;"></canvas>
            <label class="previewLabel" for="canvas-preview-5" style="display:none;">E</label>
            <canvas class="light-preview" id="canvas-preview-6" style="display:none;"></canvas>
            <label class="previewLabel" for="canvas-preview-6" style="display:none;">F</label>
            <canvas class="light-preview" id="canvas-preview-7" style="display:none;"></canvas>
            <label class="previewLabel" for="canvas-preview-7" style="display:none;">G</label>
            <canvas class="light-preview" id="canvas-preview-8" style="display:none;"></canvas>
            <label class="previewLabel" for="canvas-preview-8" style="display:none;">H</label>
        </div>

        <div id="LightCanvas" style="display: none;">
            <canvas id="canvas-lb-0"></canvas>
            <canvas id="canvas-lb-1"></canvas>
            <canvas id="canvas-lb-2"></canvas>
            <canvas id="canvas-lb-3"></canvas>
            <canvas id="canvas-lb-4"></canvas>
            <canvas id="canvas-lb-5"></canvas>
            <canvas id="canvas-lb-6"></canvas>
            <canvas id="canvas-lb-7"></canvas>
            <canvas id="canvas-lb-8"></canvas>
        </div>
        <p id="solution-lb"></p>

        <button id="LightReset">Reset Light Solver</button>
        <div class="Tips">
            <a href="https://discord.com/channels/107916528011210752/1261723456790200472/1262143288870174921" target="_blank">Click Here for Sample screenshots (Discord)</a><br />
            <span><b>NOTE: </b></span><span>Only lightbulbs should be contained in the screenshot, including buttons A to H will mark it as a wrong upload</span><br />
            <span><b>Tip #1: </b></span><span>On Windows use WIN+SHIFT+S to screenshot into clipboard</span><br />
            <span><b>Tip #2: </b></span><span>Use CTRL+V to upload image from clipboard</span>
        </div>
        <input type="checkbox" id="LightDebug" style="display:none;" /><br />
    </div>

    <div class="main" id="Anagram" style="display: none;">
        <span><b>Name: </b></span><span id="solution-anagram-name">not found</span><br />
        <span><b>Tip: </b></span><span id="solution-anagram-tip">not found</span><br />
        <span><b>Map location: </b></span><a id="solution-anagram-url" target="_blank">not found</a><br /><br />
        <div class="autocomplete" style="width:300px;">
            <input class="textInput" type="text" id="AnagramInput" placeholder="Input an anagram" autocomplete="off" style="width: 300px;">
        </div>
        <br />
        <div id="solution-anagram-map"></div>
    </div>

    <div class="main" id="Cypher" style="display: none;">
        <span><b>Name: </b></span><span id="solution-cypher-name">not found</span><br />
        <span><b>Tip: </b></span><span id="solution-cypher-tip">not found</span><br />
        <span><b>Map location: </b></span><a id="solution-cypher-url" target="_blank">not found</a><br /><br />
        <div class="autocomplete" style="width:300px;">
            <input class="textInput" type="text" id="CypherInput" placeholder="Input a cypher">
        </div>
        <br />
        <div id="solution-cypher-map"></div>

        <div class="Tips">
            <span><b>Tip #1: </b></span><span>Minimum of 3 characters are required to find a potential result</span><br />
        </div>
    </div>

    <div class="main" id="Beacon" style="display: none;">
        <span><b>Tip: </b></span><span id="solution-beacon-tip">not found</span><br />
        <span><b>Map location: </b></span><a id="solution-beacon-url" target="_blank">not found</a><br /><br />
        <div class="autocomplete" style="width:300px;">
            <input class="textInput" type="text" id="BeaconInput" placeholder="Input a beacon">
        </div>
        <br />
        <div id="solution-beacon-map"></div>
    </div>

    <div class="main" id="Chest" style="display: none;">
        <span><b>Tip: </b></span><span id="solution-chest-tip">not found</span><br />
        <span><b>Map location: </b></span><a id="solution-chest-url" target="_blank">not found</a><br /><br />
        <div class="autocomplete" style="width:300px;">
            <input class="textInput" type="text" id="ChestInput" placeholder="Input a chest">
        </div>
        <br />
        <div id="solution-chest-map"></div>
    </div>

    <div class="main" id="HotCold" style="display: none;">

        <span>Tier of Clue:</span><br />
        <input class="selRadio" type="radio" id="rBeginner" name="clueTier" value="Beginner">
        <label for="rBeginner">Beginner</label><br />
        <input class="selRadio" type="radio" id="rEasy" name="clueTier" value="Easy">
        <label for="rEasy">Easy</label><br />
        <!---<input class="selRadio" type="radio" id="rMedium" name="clueTier" value="Medium">
        <label for="rMedium">Medium</label><br />
        <input class="selRadio" type="radio" id="rHard" name="clueTier" value="Hard">
        <label for="rHard">Hard</label><br />
        <input class="selRadio" type="radio" id="rElite" name="clueTier" value="Elite">
        <label for="rElite">Elite</label><br />-->
        <input class="selRadio" type="radio" id="rMaster" name="clueTier" value="Master">
        <label for="rMaster">Master</label><br /><br />

        <span id="solution-hotcold-header"><b>Possible locations:</b></span>
        <div id="solution-hotcold" style="height: 200px; width: 520px; overflow: hidden; overflow-y: scroll;">
            <span><b>Tip: </b></span><span id="solution-hotcold-tip">not found</span><br />
            <span><b>Map location: </b></span><a id="solution-hotcold-url" target="_blank">not found</a><br />
        </div><br />

        <span><b>Provided Location: </b></span><span id="hotcold-location">not provided</span><br />
        <span><b>Provided Distance: </b></span><span id="hotcold-distance">not provided</span><br /><br />

        <button id="HotColdSolve">Try Solve</button> <button id="HotColdReset">Reset</button><br /><br />


        <!--- <span>Input your location with X and Z coordiantes</span><br />
        <input type="number" oninput="this.value = Math.round(this.value);" id="HotColdX" placeholder="Input your X coordinate">
        <input type="number" oninput="this.value = Math.round(this.value);" id="HotColdZ" placeholder="Input your Z coordinate"><br /><br /> --->

        <span>Input the URL you get from /map</span><br />
        <input class="textInput" type="text" id="HotColdMap" placeholder="Input URL from /map" style="width: 520px"><span id="HotColdMapTip" style="padding-left: 10px;color: red; display:none;"></span><br /><br />

        <span>Input the distance you get standing at your location</span><br />
        <input class="textInput" type="number" id="HotColdDistance" placeholder="Input distance"><br /><br />



    </div>

    <div class="main" id="Map" style="display: none;">

        <span>Tier of Clue:</span>
        <input class="mapTierRadio" type="radio" id="rBeginnerM" name="clueTier" value="Beginner">
        <label for="rBeginnerM">Beginner</label>
        <input class="mapTierRadio" type="radio" id="rEasyM" name="clueTier" value="Easy">
        <label for="rEasyM">Easy</label>
        <input class="mapTierRadio" type="radio" id="rMediumM" name="clueTier" value="Medium">
        <label for="rMediumM">Medium</label>
        <input class="mapTierRadio" type="radio" id="rHardM" name="clueTier" value="Hard">
        <label for="rHardM">Hard</label>
        <input class="mapTierRadio" type="radio" id="rEliteM" name="clueTier" value="Elite">
        <label for="rEliteM">Elite</label><br />

        <div id="solution-map" style="max-height: 80vh; height: 80vh; overflow: hidden; overflow-y: scroll;">
        </div><br />

        <div id="solution-map-map"></div>

    </div>

    <div class="main GE" id="GE" style="display: none;">
        <div id="searchContainer">
            <div style="display: flex; flex-direction: column; align-items: center; margin-bottom: 10px;">
                <div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
                    <div style="display: flex; align-items: center; gap: 5px;">
                        <button id="viewLatestOffers">View Latest Offers</button>
                    </div>

                    <input class="textInput" type="text" id="searchInput" placeholder="Search item by name or symbol..." autocomplete="off" style="width: 300px;">

                    <div style="display: flex; align-items: center; gap: 5px;">
                        <input type="checkbox" id="fuzzySearchToggle" checked>
                        <label for="fuzzySearchToggle">Enable Fuzzy Search</label>
                    </div>
                </div>

                <div id="searchResults" class="bg-secondary-subtle"></div>
            </div>
        </div>

        <div>
            <table class="table table-striped table-hover table-sm" id="detailsTable" style="display: none;">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th id="detailsTableItem">Item</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>User</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider"></tbody>
            </table>
        </div>

        <div>
            <canvas id="candlesChart" style="display: none; max-height: 400px;"></canvas>
            <canvas id="volumeChart" style="display: none; max-height: 200px;"></canvas>
        </div>
    </div>

    <script src="@Url.Content("/dist/minescape-solvers.js")"></script>
}
