@page
@model WebApplication1.Pages.Minescape.IndexModel
@{
    <script src="https://docs.opencv.org/master/opencv.js"></script>

    <div class="container">
        <div class="btn-container" id="Navigation">
            <input class="navRadio" type="radio" id="rPuzzle" name="radios" value="Puzzle" checked="checked">
            <label class="navRadio" for="rPuzzle">Puzzle Box Solver</label><br />
            <input class="navRadio" type="radio" id="rLight" name="radios" value="Light">
            <label class="navRadio" for="rLight">Light Box Solver</label><br />
            <input class="navRadio" type="radio" id="rAnagram" name="radios" value="Anagram">
            <label class="navRadio" for="rAnagram">Anagram Solver</label><br />
            <input class="navRadio" type="radio" id="rCypher" name="radios" value="Cypher">
            <label class="navRadio" for="rCypher">Cypher Solver</label><br />
            <input class="navRadio" type="radio" id="rBeacon" name="radios" value="Beacon">
            <label class="navRadio" for="rBeacon">Beacon Solver</label><br />
            <input class="navRadio" type="radio" id="rChest" name="radios" value="Chest">
            <label class="navRadio" for="rChest">Chest Solver</label><br />
            <input class="navRadio" type="radio" id="rHotCold" name="radios" value="HotCold">
            <label class="navRadio" for="rHotCold">Hot and Cold Solver</label><br />
        </div>
    </div>

    <div class="main" id="Puzzle">
        <div class="dropzone-wrapper" id="PuzzleInputZone">
            <div class="dropzone-desc">
                <p id="PuzzleInputDescription">Choose a Puzzle image file or drag it here.</p>
            </div>
            <canvas id="PuzzleCanvas" height="200"></canvas>
            <input type="file" name="img_logo" class="dropzone" id="PuzzleInput">
        </div>

        <p id="solution"></p>

        <div id="PuzzleCanvas" style="display: none;">
            <canvas id="canvas"></canvas>

            <canvas id="canvas0-0"></canvas>
            <canvas id="canvas0-1"></canvas>
            <canvas id="canvas0-2"></canvas>
            <canvas id="canvas0-3"></canvas>
            <canvas id="canvas1-0"></canvas>
            <canvas id="canvas1-1"></canvas>
            <canvas id="canvas1-2"></canvas>
            <canvas id="canvas1-3"></canvas>
            <canvas id="canvas2-0"></canvas>
            <canvas id="canvas2-1"></canvas>
            <canvas id="canvas2-2"></canvas>
            <canvas id="canvas2-3"></canvas>
            <canvas id="canvas3-0"></canvas>
            <canvas id="canvas3-1"></canvas>
            <canvas id="canvas3-2"></canvas>
            <canvas id="canvas3-3"></canvas>

            <canvas id="scanvas0-0"></canvas>
            <canvas id="scanvas0-1"></canvas>
            <canvas id="scanvas0-2"></canvas>
            <canvas id="scanvas0-3"></canvas>
            <canvas id="scanvas1-0"></canvas>
            <canvas id="scanvas1-1"></canvas>
            <canvas id="scanvas1-2"></canvas>
            <canvas id="scanvas1-3"></canvas>
            <canvas id="scanvas2-0"></canvas>
            <canvas id="scanvas2-1"></canvas>
            <canvas id="scanvas2-2"></canvas>
            <canvas id="scanvas2-3"></canvas>
            <canvas id="scanvas3-0"></canvas>
            <canvas id="scanvas3-1"></canvas>
            <canvas id="scanvas3-2"></canvas>
            <canvas id="scanvas3-3"></canvas>
        </div>

        <div class="Tips">
            <span><b>Tip #1: </b></span><span>On Windows use WIN+SHIFT+S to screenshot into clipboard</span><br>
            <span><b>Tip #2: </b></span><span>Use CTRL+V to upload image from clipboard</span>
        </div>
        <input type="checkbox" id="PuzzleDebug" style="display:none;" /><br />
    </div>

    <div class="main" id="Light" style="display: none;">
        <div class="dropzone-wrapper" id="LightInputZone">
            <canvas id="PuzzleCanvas" height="200"></canvas>

            <span class="dropzone-desc" id="LightDescription0">Step 1: Upload an inital view of the Light Puzzle</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip0">Initial View</span>
            <input class="dropzone lights-input" type="file" accept="image/*" id="LightInput0">

            <span class="dropzone-desc" style="display:none;" id="LightDescription1">Step 2: Click A and Upload a new screenshot</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip1">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput1">

            <span class="dropzone-desc" style="display:none;" id="LightDescription2">Step 3: Click B and Upload a new screenshot</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip2">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput2">

            <span class="dropzone-desc" style="display:none;" id="LightDescription3">Step 4/9: Click C and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip3">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput3">

            <span class="dropzone-desc" style="display:none;" id="LightDescription4">Step 5/9: Click D and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip4">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput4">

            <span class="dropzone-desc" style="display:none;" id="LightDescription5">Step 6/9: Click E and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip5">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput5">

            <span class="dropzone-desc" style="display:none;" id="LightDescription6">Step 7/9: Click F and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip6">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput6">

            <span class="dropzone-desc" style="display:none;" id="LightDescription7">Step 8/9: Click G and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip7">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput7">

            <span class="dropzone-desc" style="display:none;" id="LightDescription8">Last Step: Click H and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip8">Initial View</span>
            <input class="dropzone lights-input" style="display:none;" type="file" accept="image/*" id="LightInput8">

            <span class="dropzone-desc" style="display:none;" id="LightSolution">Last Step: Click H and Upload</span>
            <span class="dropzone-tip" style="display:none;" id="LightTip">Initial View</span>
        </div>

        <div>
            <canvas class="light-preview" id="canvas-preview-0" style="display:none;"></canvas>
            <canvas class="light-preview" id="canvas-preview-1" style="display:none;"></canvas>
            <canvas class="light-preview" id="canvas-preview-2" style="display:none;"></canvas>
            <canvas class="light-preview" id="canvas-preview-3" style="display:none;"></canvas>
            <canvas class="light-preview" id="canvas-preview-4" style="display:none;"></canvas>
            <canvas class="light-preview" id="canvas-preview-5" style="display:none;"></canvas>
            <canvas class="light-preview" id="canvas-preview-6" style="display:none;"></canvas>
            <canvas class="light-preview" id="canvas-preview-7" style="display:none;"></canvas>
            <canvas class="light-preview" id="canvas-preview-8" style="display:none;"></canvas>
        </div>

        <div id="LightCanvas" style="display: none;">
            <canvas id="canvas-lb-0"></canvas>
            <canvas id="canvas-lb-1"></canvas>
            <canvas id="canvas-lb-2"></canvas>
            <canvas id="canvas-lb-3"></canvas>
            <canvas id="canvas-lb-4"></canvas>
            <canvas id="canvas-lb-5"></canvas>
            <canvas id="canvas-lb-6"></canvas>
            <canvas id="canvas-lb-7"></canvas>
            <canvas id="canvas-lb-8"></canvas>
        </div>
        <p id="solution-lb"></p>

        <button id="LightReset">Reset Light Solver</button>
        <div class="Tips">
            <span><b>Tip #1: </b></span><span>On Windows use WIN+SHIFT+S to screenshot into clipboard</span><br>
            <span><b>Tip #2: </b></span><span>Use CTRL+V to upload image from clipboard</span>
        </div>
        <input type="checkbox" id="LightDebug" style="display:none;" /><br />
    </div>

    <div class="main" id="Anagram" style="display: none;">
        <span><b>Name: </b></span><span id="solution-anagram-name">not found</span><br>
        <span><b>Tip: </b></span><span id="solution-anagram-tip">not found</span><br>
        <span><b>Map location: </b></span><a id="solution-anagram-url" target="_blank">not found</a><br><br>
        <div class="autocomplete" style="width:300px;">
            <input type="text" id="AnagramInput" placeholder="Input an anagram">
        </div>
    </div>

    <div class="main" id="Cypher" style="display: none;">
        <span><b>Name: </b></span><span id="solution-cypher-name">not found</span><br>
        <span><b>Tip: </b></span><span id="solution-cypher-tip">not found</span><br>
        <span><b>Map location: </b></span><a id="solution-cypher-url" target="_blank">not found</a><br><br>
        <div class="autocomplete" style="width:300px;">
            <input type="text" id="CypherInput" placeholder="Input a cypher">
        </div>
    </div>

    <div class="main" id="Beacon" style="display: none;">
        <span><b>Tip: </b></span><span id="solution-beacon-tip">not found</span><br>
        <span><b>Map location: </b></span><a id="solution-beacon-url" target="_blank">not found</a><br><br>
        <div class="autocomplete" style="width:300px;">
            <input type="text" id="BeaconInput" placeholder="Input a beacon">
        </div>
    </div>

    <div class="main" id="Chest" style="display: none;">
        <span><b>Tip: </b></span><span id="solution-chest-tip">not found</span><br>
        <span><b>Map location: </b></span><a id="solution-chest-url" target="_blank">not found</a><br><br>
        <div class="autocomplete" style="width:300px;">
            <input type="text" id="ChestInput" placeholder="Input a chest">
        </div>
    </div>

    <div class="main" id="HotCold" style="display: none;">
        <h1>Not implemented</h1>
        <span><b>Tip: </b></span><span id="solution-hotcold-tip">not found</span><br>
        <span><b>Map location: </b></span><a id="solution-hotcold-url" target="_blank">not found</a><br><br>

        <span>Tier of Clue:</span><br />
        <input class="selRadio" type="radio" id="rEasy" name="clueTier" value="Easy" checked="checked">
        <label for="rEasy">Easy</label><br />
        <input class="selRadio" type="radio" id="rMedium" name="clueTier" value="Medium">
        <label for="rMedium">Medium</label><br />
        <input class="selRadio" type="radio" id="rHard" name="clueTier" value="Hard">
        <label for="rHard">Hard</label><br />
        <input class="selRadio" type="radio" id="rElite" name="clueTier" value="Elite">
        <label for="rElite">Elite</label><br />
        <input class="selRadio" type="radio" id="rMaster" name="clueTier" value="Master">
        <label for="rMaster">Master</label><br /><br />

        <span>Input your location with X, Y and Z coordiantes or paste in the URL you get from /map</span>
        <input type="number" id="HotColdX" placeholder="Input your X coordinate">
        <input type="number" id="HotColdY" placeholder="Input your Y coordinate">
        <input type="number" id="HotColdZ" placeholder="Input your Z coordinate">
        <input type="text" id="HotColdMap" placeholder="Input URL from /map">

        <input type="number" id="HotColdDistance" placeholder="Input distance">

    </div>

    <script src="@Url.Content("/dist/minescape-solvers.js")"></script>
    <script src="@Url.Content("/dist/tabs.js")"></script>
}
