@page
@model SimuciokasUK.Pages.Map.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Minescape Map - Runescape in Minecraft</title>
    <meta name="description" content="Runescape in Minecraft. Minescape is a Minecraft game inspired by Runescape, developed by GamesLabs. Join the game on play.gameslabs.net">
    <link rel="canonical" href="https://www.minescape.net/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Minescape - Runescape in Minecraft">
    <meta property="og:description" content="Minescape is a Minecraft game inspired by Runescape, developed by GamesLabs. Join the game on play.gameslabs.net">
    <meta property="og:image" content="https://www.minescape.net/img/logo-full.webp">
    <meta property="og:url" content="https://www.minescape.net">
    <meta property="og:site_name" content="Minescape">



    <script src="js/map/jquery.min.js"></script>

    <script src="js/map/overviewerConfig.js"></script>
    <script src="js/map/overviewer.js"></script>
    <script src="js/map/baseMarkers.js"></script>
    <script src="js/map/labels.js"></script>

    <link rel="stylesheet" href="css/map/leaflet.css">
    <script src="js/map/leaflet.js"></script>
    <link rel="stylesheet" href="css/map/overviewer.css" type="text/css">


    <!-- Font awesome -->
    <link rel="stylesheet" href="css/map/font-awesome.min.css">

</head>
<body class="page-body" cz-shortcut-listen="true" onload="overviewer.util.initialize()">
    <div id="mcmap"></div>

    <!-- Start Footer -->
    <footer class="footer footer-dark py-0">
        <div class="bg-dark-end py-6 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span class="ls-1 fw-500">Copyright © 2024 GamesLabs SASU. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.End Footer -->


    <script src="js/map/MovingMarker.js"></script>

</body>
</html>