#searchResults div {
    padding: 10px 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 15px;
    display: flex;
    align-items: center;
}

    #searchResults div:hover {
        background-color: var(--bs-secondary);
    }
